<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/buyproduct.js" async defer></script>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">

	  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-header">
            <h2>Shopping Cart</h2>
            <div>
              <span>
                <a 
                style="color: #000000"
                href="/yourorder"><i class="fa fa-user"></i>
                  <% if(userName.length > 0) { %>
                      <%= userName %>
                  <%} else{%>
                      Login
                  <%}%>
              </a>
              </span>
            </div>
            <div>
              <span>
               
                <a  style="color: #000000"  href="/cart"><i class="fa fa-shopping-bag"></i> <span
                  
                  ><%= cart %></span></a>
              </span>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered m-0">
                <thead>
                  <tr>
                    <!-- Set columns width -->
                    <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                    <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
                    <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                  </tr>
                </thead>
                <tbody>
     
                    <% cartData.cartItems.forEach(({productName,price,counter,productImg})=>{ %>
                         <tr>
                           <td class="p-4">
                             <div class="media align-items-center">
                               <img src="http://localhost:3000/<%= productImg %>" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                               <div class="media-body">
                                 <a href="#" class="d-block text-dark"><%= productName %></a>
                                 <small>
                                 </small>
                               </div>
                             </div>
                           </td>
                           <td class="text-right font-weight-semibold align-middle p-4">Rs<%= price %></td>
                           <td class="align-middle p-4"><input id="product-quantity" data-product="<%= productName %>" data-quantity="<%= counter %>" type="text" class="form-control text-center" value="<%= counter %>"></td>
                           <td class="text-right font-weight-semibold align-middle p-4">Rs<%= parseInt(price) * parseInt(counter) %></td>
                           <td class="text-center align-middle px-0"><a href="#" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
                         </tr>
                    <% }) %>
                  

        
                </tbody>
              </table>
            </div>
            <!-- / Shopping cart table -->
        
            <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
              <div class="mt-4">
                <label class="text-muted font-weight-normal">Promocode</label>
                <input type="text" placeholder="ABC" class="form-control">
              </div>
              <div class="d-flex">
                <div class="text-right mt-4 mr-5">
                  <label class="text-muted font-weight-normal m-0">Discount</label>
                  <div class="text-large"><strong>Rs00</strong></div>
                </div>
                <div class="text-right mt-4">
                  <label class="text-muted font-weight-normal m-0">Total price</label>
                  <div class="text-large"><strong>Rs<%= cartData.cartItems.reduce((accumulator,{price,counter})=> parseInt(accumulator) + (parseInt(price) * parseInt(counter) ),0) %></strong></div>
                </div>
              </div>
            </div>
        
            <div class="float-right">
              <a href='/' class="btn btn-lg btn-default md-btn-flat mt-2 mr-3">Back to shopping</a>
              <button type="button" onclick="checkoutProduct('<%= JSON.stringify(cartData) %>')" class="btn btn-lg btn-primary mt-2">Checkout</button>
            </div>
        
          </div>
      </div>
  </div>

<style type="text/css">
body{
    margin-top:20px;
    background:#eee;
}
.ui-w-40 {
    width: 40px !important;
    height: auto;
}

.card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}
</style>

<script type="text/javascript">
const cartData = '<%- JSON.stringify(cartData) %>'
console.log(JSON.parse(cartData))
</script>
</body>
</html>